<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Administrator Account</title>
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/style.css" rel="stylesheet" />
    <link href="../../Content/sweetalert.css" rel="stylesheet" />
    <link href="../../Content/style.css" rel="stylesheet" />
    <link href="../../Content/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body ng-app="MyApp" ng-controller="AdminTable">
    <div class="header navbar-fixed-top">
        <div class="container-fluid">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <img class="img-responsive" src="../../Content/images/logo.png" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <form class="example" action="action_page.php">
                    <input type="text" ng-model="search" placeholder="Search.." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>

        </div>
        <div class="navbar navbar-default ">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <div class="container">
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a href="Index.html"><i class="fa fa-home white-icon fa-lg "></i> Home</a>
                            </li>
                            <li><a href="../Pages/Product/Products.html">Products</a></li>
                        </ul>

                        <div ng-if="!name">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user-circle-o white-icon fa-lg "></i> Account <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="../Pages/Account/CustomerAccount.html">Customer</a></li>
                                        <li><a href="../Pages/Account/DriverAccount.html">Driver</a></li>
                                        <li><a href="../Pages/Account/AdminAccount.html">Admin</a></li>
                                    </ul>
                                </li>
                                
                            </ul>
                        </div>
                        <div ng-if="name">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user-circle-o white-icon fa-lg "></i> {{name}} <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="../Pages/Account/CustomerAccount.html">Account Overview</a></li>
                                        <li><a href="../Pages/Account/DriverAccount.html">My Orders</a></li>

                                    </ul>
                                </li>
                                <li><a ng-click="logoutUser()"> <i class="fa fa-sign-out  white-icon fa-lg "></i> Logout</a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h1 class="well text-center">Administrator</h1>
    <div class="container">
        <div class="col-lg-4 col-xs-offset-4">
            <div class="continer">
                <form class="form-signin" method="post">
                    <h2 class="form-signin-heading pink">Sign In</h2>
                    <input ng-model="adminLoginEmail" type="email" class="form-control" placeholder="Email Address" name="Email" maxlength="50" required><br>
                    <input ng-model="adminLoginPassword" type="password" class="form-control" placeholder="Password" name="Password" maxlength="12" required><br>
                    <Button ng-click="Login()" type="button" class="btn btn-lg pink-button" id="loginButton">Login </Button>
                </form>
            </div>
        </div>
    </div>
    <div id="snackbar">Added to cart</div>
    <script src="/Scripts/angular.min.js"></script>
    <script src="../../Scripts/angular-cookies.js"></script>
    <script src="/Scripts/app.js"></script>
    <script src="../../Scripts/Services.js"></script>
    <script src="/Scripts/jquery-1.9.1.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="../../Scripts/formValidation.js"></script>
    <script src="../../Scripts/sweetalert-dev.js"></script>
    <script src="../../Scripts/style.js"></script>
</body>
</html>